.page.theme_dark {

  --accent-color: #ff0070;
  --decoration-color: #ff0070;
  --background-color: #000028;
  --text-color:  #F1B2CE;
  --main-heading-color:#000028;
  --nav-color: #ff0070;
  --section-title-color: #ff0070;
  --header-title-color: #db00ff;
  --footer-title-color: #db00ff;
  background-image: url(../images/cover-image-dark.png);
}
