.page.theme_light {

  --accent-color: #ff8dcb;
  --decoration-color: #353430;
  --background-color: #fff1f7;
  --text-color:  #353430;
  --main-heading-color:#353430;
  --nav-color: #353430;
  --section-title-color: #353430;
  --header-title-color: #ffc2e6;
  --footer-title-color: #ffc2e6;
  background-image: url(../images/cover-image-light.png);
}

